
.cards{
    height: 220px;
    width: 220px;
    background-color: aliceblue;
    border: 2px dashed rgb(52, 31, 102);
    border-radius: 5px;
    transition:  ease-in-out 0.9 linear;

}
.cards img{
  margin-top: 15px;
}
.cards h2{
color: rgb(44, 9, 199);
font-size: 15px;
}
.cards p{
color: rgb(141, 140, 145);
}
.cards *{
    margin: 0px;
    padding-top: 0px;
}
.cards:hover{
transform: scale(1.1);
box-shadow: 0px 1px 6px darkblue;
}