.main-Header {
  height: 100vh;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1522071901873-411886a10004?ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}
.header_overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(85, 85, 163);
  opacity: 0.1;
}
.header-links {
  height: 100px;
  width: 100%;
  color: #fff;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  background: transparent;
}
@media screen and (max-width: 540px) {
  .header-links {
    flex-direction: column;
  }
  .logo-main {
    flex-direction: column;
  }
  .link_main {
    flex-direction: column;
  }
  .text-main {
    flex-direction: column;
  }
  .paragraph {
    flex-direction: column;
    padding: 10px;
  }
  .button_fixd {
    display: none;
  }
  .btn {
    float: left;
  }
}

.logo-main {
  display: flex;
  width: auto;
  gap: 10px;
  margin-left: 20px;
  margin-top: 12px;
}
.logo-main img {
  height: 50px;
  margin-top: 10px;
}
.link_main {
  width: auto;
  gap: 20px;
  padding: 30px;
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
}
.header-button {
  width: auto;
  text-align: center;
  line-height: 40px;
}
.btn {
  float: right;
  text-align: center;
  margin-top: 25px;

  margin-right: 15px;
}
.text-main {
  height: 450px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.text-side {
  height: 50px;
  width: 40%;
}
.video-side {
  height: 400px;
  width: 40%;
  margin-top: 50px;
}
.text-side h2 {
  font-size: 35px;
  color: #fff;
}
.animat-text {
  height: 60px;
  width: auto;
  background-color: #fff;
  text-align: center;
  transform: skewx(10deg);
}
.animate_start {
  height: 20px;
  width: 3px;
  background-color: rgb(28, 248, 237);
  margin-top: 17px;
  margin-right: 6px;
}
.paragraph {
  display: flex;
}
.animat-text h2 {
  color: rgb(82, 8, 167);
  margin-bottom: 10px;
}
.custumer-btn {
  margin: 20px;
  line-height: 50px;
}
.button_fixd {
  position: fixed;
  width: 70px;
  height: 30px;
  font-weight: bold;
  color: rgb(252, 248, 248);
  margin-left: 63px;
  background-color: blue;
  font-size: 18px;
}
.button_fixd a {
  color: white;
}
